
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Игра "Жизнь"</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <div id="grid"></div>
  <button onclick="nextGeneration()">Следующее поколение</button>
  <button class="toggle-gen-button" onclick="toggleAutoGeneration()">Автоматическая генерация поколений</button>
  <button onclick="seedState()">Рандомное состояние</button>
  <button onclick="clearState()">Очистить состояние </button>
  <button onclick="toggleNumNeighbours()">Добавить кол-во соседей</button>
  

  <script src="/static/js/script.js"></script>
</body>
</html>